<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="D:\Log\QuantDeriv\internal-nlog-quantderiv.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDir" value="D:\Log\QuantDeriv"/>
  <variable name="LogFileName" value="QuantDeriv" />
  <targets async="true">
    <target name="LogFile" type="File" layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}(:${callsite-linenumber}) ${message}" fileName="${LogDir}\${LogFileName}.log" encoding="UTF-8" archiveFileName="${LogDir}\${LogFileName}.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="31" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
  </rules>
</nlog>